@model Product

@if(Model is not null){
    <div>
        <p>Product Name: @Model.ProductName</p>
        <p>Description: @Model.Description</p>
        <p>Price: @Model.Price</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="GetAll">Exit</a>
    </div>
}