@model Product

<style>
    .form-main {
        text-align: center;
        margin: 0 auto;
        width: 450px;
        border: 5px solid #007bff;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    }

    .form-group {
        margin-bottom: 20px;
        margin: 50px auto;
        padding:10px;


    }

    .btn-primary {
        display: block;
        margin: 0 auto;
    }

    .form-control {
        margin-bottom:10px;
        border: 2px solid #007bff;
    }


    #extId{
        width:80px;
    }

    .btnStyle{
        display:flex;
        flex-wrap:wrap;
    }

</style>


<form asp-controller="Product" asp-action="UpdateProduct" method="post" class="form-main">

    <div class="form-group">
        <input asp-for="ProductName" placeholder="Product Name..." class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
        <input asp-for="Description" placeholder="Description..." class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
        <input asp-for="Price" placeholder="Price..." class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
        <div class="btnStyle">
            <a class="btn btn-primary" id="extId" asp-area="" asp-controller="Product" asp-action="GetAll">Exit</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </div>
</form>